.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

/* ---------------------------------- */
/* Header
------------------------------------- */
#logo {
  display: inline-block;
  margin-top: 3px;
}

#logo img {
  max-height: 38px;
  width: auto;
  transform: translate3d(0, 0, 0);
}
img.footer-logo {
  max-height: 38px;
  width: auto;
}

#header {
  position: relative;
  z-index: 999;
  padding: 18px 0 8px 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
